:root {
  --theme-color: #1477e9;/*#00329d;*/
  --accent: #C6E2E9;
  --cream: #F1FFC4;
  --russet: #7b3e19;
  --rosy-brown: #b28b84;
  --pale-purple-pantone: #f5e5fc;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

a {
  color: var(--theme-color);
}
a:hover,
a:active {
  filter: brightness(0.9);
}
img {
  border-radius: 20px;
}